/* Autor: Caique Sousa */
$font-Default: 'Roboto', sans-serif;
$bg-navbar:rgba(34, 139, 34, 1);
$color-title-section: yellow;
$align-center: 0 auto;
$color-box-txt: rgba(21, 87, 36, 0.9);

// Amarelo hexa: #ffcb00 rgb: 255,203,0
// Verde hexa: #3ba434 rgb: 59,164,52
.progress-container {
    width: 100%;
    height: 8px;
    background: transparent;
    padding-top: 88px;
    position: fixed;
    z-index: 9999;
}

.progress-bar {
    height: 13px;
    width: 0%;
    background: rgb(255,203,0);
    background: -moz-linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(95,246,84,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(95,246,84,1) 100%);
    background: linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(95,246,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb00",endColorstr="#5ff654",GradientType=1);
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8);}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
span.active, .dot:hover {background-color: #717171;}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.fade:not(.show) {opacity: 1;}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{ transform: translate3d(-100px, 0, 0);}

[data-anime="right"]{ transform: translate3d(100px, 0, 0);}

[data-anime="top"]{ transform: translate3d(0, -100px, 0);}

[data-anime="bottom"]{ transform: translate3d(0, 100px, 0);}

[data-anime="front"]{ transform: translate3d(0, 0, 150px);}

[data-anime="back"]{ transform: translate3d(0, 0, -150px);}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
/* sobreescrevendo css*/
.fa, .fas {padding-top: 3px;}

.col-md-12{padding: 0;}

.espace-modal{padding: 2%;}

.row {
    margin-left: 0;
    margin-right: 0;
}
/* Estilo NavBar */
.img-logo-menu {
    width: 100%;
    height: 100%;
    max-width: 120px;
    display: block;
}

.navbar {
    z-index: 9999999;
    background-color: $bg-navbar;
}

.nav-item a {
    font-family: $font-Default;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    scroll-behavior: smooth;
    a:hover { color: yellow;}
    a:active { color: yellowgreen;}
}
/* sobre escrevendo css */
.dropdown-menu {
    background-color: $bg-navbar;
    a:hover { background-color: forestgreen;}
}

.navbar-toggler {
    background-color: #28a745;
    border: 1px solid #ffc107;
}

.navbar-toggler-icon {
    padding-top: 3px;
    color: white;
    font-weight: 900;
}
/* Fim NavBar */
/* Estilo btnUpHome  */
.btnUpTopo{
    width: 100%;
    max-width: 60px;
    color: forestgreen;
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000000;
    &:hover{
        color:yellowgreen;
    }
}
/* Fim btnUpHome */
/* Estilo Home */
.home {
    width: 100%;
    height: 100%;
    background-image: url('https://prazeresdamesa.uol.com.br/wp-content/uploads/2019/05/bg-img-farofa-v1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-logo {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: block;
    margin: $align-center;
    padding-top: 230px;
}

.box-home p {
    font-family: $font-Default;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: $align-center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-box-txt;
}

.cronometro{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: $align-center;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    p{
        font-family: $font-Default;
        font-weight: 900;
        font-size: 3.5rem;
        color: #ffcb00;
    }span{
        font-family: $font-Default;
        font-weight:700;
        font-size:3rem;
        color: #ffffff;
    }
}

.arrowHome{
    font-family: $font-Default;
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 20px;
    padding-top: 3px;
    font-size: 2rem;
    color: #ffcb00;
    font-weight:900;
    margin-bottom: 80px;
}

.icoArrowHome{
    padding-top: 3px;
    font-size: 4rem;
    color: #ffcb00;
}
/* Fim Home */
/* Estilo Orquestra */
.orquestra{
    width: 100%;
    height: 100%;
    background-image: url('https://theatromunicipal.org.br/wp-content/uploads/2018/01/OrquestraSinfonicaMunicipal-Coral-GseSilva-Site8.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 130px;
    h2 {
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        margin: 10px;
    }
}

.box-orquestra1{
    width: 100%;
    max-width: 500px;
    background-color: $color-box-txt;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin: $align-center;
    margin-top: 90px;
    margin-bottom: 20px;
    h5{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        color: yellow;
        padding: 15px;
    }
}

.box-orquestra2{
    width: 100%;
    max-width: 500px;
    background-color: $color-box-txt;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin: $align-center;
    margin-top: 90px;
    margin-bottom: 20px;
    h5{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        color: yellow;
        padding: 15px;
    }
}

.txt-orquestra{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-align: center;
    span{
        color: yellow;
        font-weight: 600;
    }
}
/* Fim Orquestra */
/* Estilo Musica Instrumental */
.musicaInstrumental {
    width: 100%;
    height: 100%;
    background: rgb(59,164,52);
    background: -moz-radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    background: radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ba434",endColorstr="#ffcb00",GradientType=1);
    padding-top: 75px;
    padding-bottom: 75px;
}

.box-musica{ 
    h2{
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        padding: 2%;
        padding-top: 20px;
    }p{
        font-family: $font-Default;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        text-align: center;
        padding:2%;
        background-color: $color-box-txt;
    }
}

.card-deck {
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    .btn-card {
        margin: $align-center;
        display: block;
    }
}
/* Fim Musica Instrumental */
/* Estilo Galeria */
.galeria{
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(circle, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    background: radial-gradient(circle, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb00",endColorstr="#3ba434",GradientType=1);
    padding-top:75px;
    padding-bottom:75px;
    h2{
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        padding: 2%;
    }p{
        font-family: $font-Default;
        font-size: 17px;
        font-weight: 600;
        color: azure;
        text-align: center;
        padding:2%;
    }
}

.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{ display: block;}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-thumbnail:hover{
    cursor: zoom-in;
    box-shadow: 10px 10px 20px black;
}
/* btn setas da galeria thumb */
.btn-secondary {
    color: #ffc107;
    background-color: #28a745;
    border-color: #ffc107;
    &:hover{
        color: #28a745;
        background-color: #ffc107;
        border-color: #28a745;
    }
}

.modal-body{ padding: 0;}
/* Fim Galeria */
/* Estilo Dança */
.danca{
    width: 100%;
    height: 100%;
    background-image: url('https://prazeresdamesa.uol.com.br/wp-content/uploads/2019/05/bg-img-danca-v1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 65px;
    h2{
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        margin: 10px;
    }
}

.box-danca{
    width: 100%;
    max-width: 900px;
    background-color: $color-box-txt;
    display: block;
    margin: $align-center;
    margin-top: 20px;
    border-radius: 10px;
    h5{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        color: green;
        padding: 15px;
        background-color:yellow;
        margin-top: 20px;
        border-radius: 10px;
    }p{
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        text-align: center;
        span{
            color: yellow;
            font-weight: 600;
        }
    }
}
/* Fim Dança */
/* Estilo Artesanato */
.artesanato {
    height: 100%;
    background: rgb(255,203,0);
    background: -moz-linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    background: linear-gradient(90deg, rgba(255,203,0,1) 0%, rgba(59,164,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb00",endColorstr="#3ba434",GradientType=1);
    padding-bottom: 40px;
    padding-top: 75px;
    h2{
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        padding: 10px;
    }p{
        font-family: $font-Default;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        color: greenyellow;
        padding: 2%;
    }
}

.img-section {
    width: 100%;
    max-width: 200px;
    display: block;
    border-radius: 10%;
    margin: $align-center;
    height: 100%;
    max-height: 135.5px;
}
/* Fim Artesanato */
/* Estilo Comidas Típicas*/
.comidasTipicas {
    height: 100%;
    background-image: url('https://prazeresdamesa.uol.com.br/wp-content/uploads/2019/05/bg-img-comidasT-v1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 75px;
    li{
        background-color: $color-box-txt;
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 15px;
        padding: 25px;
        width: 100%;
        max-width: 900px;
        margin: $align-center;
    }ul{ 
        margin-top:85px;
    }h2{
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        padding: 2%;
    }p{
        font-family: $font-Default;
        font-size: 17px;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 2%;
        background-color: $color-box-txt;
    }
}

.img-list{
    display: inline-block;
    width: 100%;
    .img-miniatura {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: $align-center;
        border-radius: 10px;
    }
}
/* Fim Comidas Típicas */
/* Estilo Workshop */
.workshop{
    height: 100%;
    background: rgb(255,203,0);
    background: -moz-radial-gradient(circle, rgba(255,203,0,1) 50%, rgba(95,246,84,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,203,0,1) 50%, rgba(95,246,84,1) 100%);
    background: radial-gradient(circle, rgba(255,203,0,1) 50%, rgba(95,246,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb00",endColorstr="#5ff654",GradientType=1);
    padding-top: 75px;
    h2 {
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        margin: 10px;
    }
}

.box-workshop{
    width: 100%;
    max-width: 500px;
    background-color: $color-box-txt;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin: $align-center;
    margin-top: 90px;
    margin-bottom: 80px;
    h5{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        color: yellow;
        padding: 15px;
    }p{
        font-size: 20px;
        font-weight: 600;
        color: white;
        text-align: center;
        span{
            color: yellow;
            font-weight: 600;
        }
    }
}
/* Fim Workshop */
/* Estilo Espaço Kids */
.espacoKids{
    width: 100%;
    height: 100%;
    background-image: url('https://prazeresdamesa.uol.com.br/wp-content/uploads/2019/05/bg-img-espacoK-v1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 85px;
    h2 {
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        margin: $align-center;
        margin-top: 30px;
    }p{
        background-color: $color-box-txt;
        border-radius: 10px;
        font-family: $font-Default;
        font-size: 17px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding:2%;
        margin: $align-center;
        margin-top: 35px;
        margin-bottom: 75px;
    }span{
        color: yellow;
        font-weight: 600;
    }
}

.icon-espaco-kids {
    color: yellow;
    width: 120px;
    height: 120px;
    border: 3px solid yellow;
    padding: 3%;
    border-radius: 10px;
    margin: $align-center;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    &:hover{
        color: yellowgreen;
        border: 3px solid yellowgreen;
    }
}

.img-modal {
    width: 100%;
    max-width:200px;
    display: block;
    margin: $align-center;
}

.descritivo-kids{
    font-family: $font-Default;
    margin-left: 95px;
    margin-bottom: 35px;
    color: yellow;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: left;
}
/*Fim Espaço Kids */
/* Estilo FAQ */
.faq-box{
    width: 100%;
    height: 100%;
    background: rgb(59,164,52);
    background: -moz-radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    background: radial-gradient(circle, rgba(59,164,52,1) 0%, rgba(255,203,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ba434",endColorstr="#ffcb00",GradientType=1);
    padding-top: 75px;
    padding-bottom: 85px;
    h2 {
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        margin: $align-center;
        margin-top: 30px;
    }p{
        font-family: $font-Default;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        text-align: center;
        padding:2%;
        margin: $align-center;
        margin-top: 35px;
        width: 100%;
        max-width: 900px;
        background-color: $color-box-txt;
        border-radius: 10px;
    }
}
/* sobreescrevendo css */
.card-faq{
    width: 100%;
    max-width: 900px;
    margin: $align-center;
    border:none;
    background-color: transparent;
    padding: 2px;
}
/* sobreescrevendo css */
.card-header{ border:none;}

.faq-item{
    background-color: rgba(21, 87, 36, 0.7);
    color: yellow;
    text-decoration: none;
    border-color: yellow;
    border-radius: 15px;
}

.faq-item-body{
    font-size: 16px;
    font-family: $font-Default;
    background-color: rgba(21, 87, 36, 0.7);
    padding: 2%;
    color: white;
    border: none;
    width: 100%px;
    max-width: 875px;
    margin: $align-center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Fim FAQ */
/* Estilo Contato */
.contato{
    height: 100%;
    background-image: url('https://prazeresdamesa.uol.com.br/wp-content/uploads/2019/05/bg-img-contato-v1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 85px;
    padding-bottom: 50px;
    form {
        width: 100%;
        max-width: 700px;
        display: block;
        margin: $align-center;
        label{
            font-family: $font-Default;
            color: yellow;
            font-weight: 600;
            font-size: 18px;
        }.form-control{
            color: green;
            font-weight: 700;
            border: 1px solid yellow;
        }.file-name{
            color: green;
        }.btn-primary {
            background-color: yellow;
            color: green;
            border-color: yellow;
            font-weight: 700;
        }.btn-primary:hover {
            background-color: green;
            border-color: green;
            color: yellow;
            font-weight: 700;
        }.form-check-input {
            margin-top: .5rem;
        }
    }h2{ 
        font-family: $font-Default;
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-title-section;
        text-align: center;
        padding: 2%;
        margin-bottom: 20px;
    }p{
        font-family: $font-Default;
        font-size: 17px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding:2%;
        background-color: rgba(34, 139, 34, 0.7);
        border-radius: 10px;
    }
}

.custom-file-label::after{
    content: "Procurar";
    color: yellow;
    background-color: green;
}

.custom-file-label{  border: 1px solid yellow;}

 input[type=text]::placeholder{ color:green;}

 input[type=email]::placeholder{ color:green;}

.social-media{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: $align-center;
    h5{
        font-family: $font-Default;
        font-size: 1.3rem;
        font-weight: 900;
        color: yellow;
        text-align: center;
        margin-bottom: 20px;
    }
}

.social-icon{
    width: 100%;
    max-width: 65px;
    display: block;
    margin: $align-center;
    padding: 2%;
    &:hover{
        border: 3px solid yellow;
        border-radius:10px;
    }
}

.social-icon-box{ margin: $align-center;}

.title-fold{
    font-family: $font-Default;
    font-size: 18px;
    font-weight: 600;
    color: yellow;
}
/* Fim Contato */